  /* header */
  .header{
    width: 100%;
    height: 80px;
    background-color: #fff;
    min-width: 480px;
    /* position: fixed;
    left: 0;
    z-index: 9999; */
  }
  
  .header .inner{
    margin: 0 auto;
    max-width: 1400px;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav_bar{
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 300px;
    object-fit:contain;
    text-align: center;
  }
  
  .nav_bar .gnb{
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: #fff;
  }
  .nav_bar .gnb > li{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    white-space: nowrap;
  }
  .nav_bar .gnb > li:hover{
    border-bottom:7px #B3DBFF solid;
    font-weight: 500;
  }
  .nav_bar .gnb > li::after{
    content: attr();
  }
  .submenu li:hover{
    background-color: #B3DBFF;
  }
  .gnb > li > a{
    display: block;
    font-size: 1.25rem;
  }
  .nav_bar .gnb2{
    width: auto;
  }
  /* 서브메뉴 */
  .submenu{
    position: absolute;
    top: 80px;
    z-index: 999;
    background-color: #E2E2E2;
    width: 100%;
    display: none;
    height: 400px;
  }
  .submenu > li > a{
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 17px;
  }
  
  
  /* gnb2 */
  .gnb2{
    width: 300px;
    display: block;
    position: relative;
    display: flex;
    padding-left: 20px;
    justify-content: flex-end;
    align-items: center;
  }
  .gnb2 .icon{
    width: 30px;
    height: 30px;
    
    margin:0 10px;
  }
  .gnb2 .hambar{
    width: 50px;
    height: 50px;
    text-align: center;
    
    margin-left: 20px;
  }
  #header-xmark {
    display: none;
  }
  @media all and (max-width:768px){
    .nav_bar{
        justify-content: center
    }
    .nav_bar .gnb{
        display: none;
        position: absolute;
        align-items: center;
        flex-direction: column;
        gap: 0px;
    top: 80px;
    width: 100%;
    height: initial;
    z-index: 999;
    }
    .nav_bar .gnb > li{
        position: relative;
        width: 100%;
        padding: 20px 25px;
        flex-direction: column;
    }
    .submenu {
        width: 100%;
        position: relative;
        top: 15px;
      }
      .submenu > li > a {
        text-align: center;
      }
      .gnb2{
        position: absolute;
        right: 0;
        width: 100%;
      }
      .gnb2 .icon, .gnb2 .login{
        display: none;
      }
      .gnb2 .hambar{
        width:initial;
      }
      .gnb.active {
        display: flex;
      }
      .gnb > li > a{
        display: block;
        font-size: 1.063rem;
      }
  }