@charset "utf-8";
@import "reset.css";
@import "common.css";
@import "style.css";
@import "header.css";


/* 비주얼 */
#slider{
    width: 100%;
    height: auto;
}
.sliderWrap{
    position: relative;
    height: 804px;
}
.sliderWrap > div{
    display: none;
}
.sliderWrap .slider{
    position: absolute;
    left: 0;
    top: 0;
}
.sliderWrap .slider img{
    vertical-align: top;
}

@media all and (max-width:768px){

    .sliderWrap{
        height: 385px;
    }
}

/* information */
#information{
    position: relative;
    display: block;
    width: 100%;
    height: 150px;
    background-color: #fff;
    /* padding: 0 50px; */
}
#information .inner{
    padding: 0;
}
#information ul{
    display: flex;
justify-content: space-around;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 100%;
/* gap: 150px; */
}
#information ul li{
    /* width: calc(100%/4); */
    height: 90px;
    padding: 5px;
    position: relative;
    display: block;
}
#information ul li a{
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
#information ul li a p{
    min-width: 105px;
}
#information ul li a svg{
    z-index: 9999;

}
#information ul > li > a > span{
    background-color: #B3DBFF;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top:10px;
    left: 18px;
    display: none;
}
@media all and (max-width:768px){
    #information{
        height: 42px;
    }
    #information svg{
        width: 32px;
        height: 32px;
    }
    #information ul li{
        height: 42px;
    }
    #information ul li a{
        font-size: 15px;
    }
    #information ul > li > a > span{
        width: 30px;
        height: 30px;
        top: 31px;
    left: 11px;
    }
}

/* news */
#news{
    width: 100%;
    height: 500px;
    padding: 105px 80px;
    background-color: #E6F3FF;
    position: relative;
}
#news .inner{
    padding: 0;
}
.newsWrap{
    width: 100%;
    height: 291px;
    background-color: #B3DBFF;
    position: relative;
    display: flex;
    box-shadow: 0px 0 4px 0 rgba(0,0,0,0.25);
}
@media all and (max-width:768px){
    #news{
        height: 245px;
        padding: 22px 37px;
    }
    .newsWrap{
        height: 200px;
    }
}
/* 공지사항 */
.notice{
    width: calc(100%/2);
    height: 100%;
    background-color: #fff;
    padding: 30px 50px;
    position: relative;
    border-right: 1px #ccc solid;
}
.notice .noticeTitle{
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.notice .noticeTitle .noticeleft{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    gap: 20px;
    
}
.line{
    width: 100%;
    height: 2px;
    margin: 16px 0;
    background-color: #ccc;
}
.noticeList{
    width: 100%;
height: calc(100% - 80px);
}
.noticeList li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    font-size: 17px;
}

.noticeList li .norg a {
    color: #666666;
}
.noticeList li .nolf a:hover{
    text-decoration: underline;
}
@media all and (max-width:768px){
    .line{
        margin: 8px 0;
    }
    .notice{
        padding: 15px;
    }
    .notice .noticeTitle{
        height: auto;
    }
    .notice .noticeTitle svg{
        width: 20px;
        height: 20px;
    }
    .notice .noticeTitle .noticeleft{
        font-size: 17px;
    }
    .noticeList li{
        font-size: 13px;
        height: auto;
    }
}
/* sns */
.sns{
    width: calc(25%);
    height: 100%;
    background-color: #F6F6F6;
    padding: 30px 30px;
    position: relative;
    border-right: 1px #ccc solid;
}
.sns .snsTitle{
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.sns .snsTitle .snsleft{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    gap: 20px;
    
}
.snsleft svg{
    width: 40px;
    height: 40px;
}
.snslist svg:hover path{
    fill: #3b5998;
}
.snslist svg:hover path:nth-child(2){
    fill: radial-gradient(circle farthest-corner at 32% 106%,#ffe17d 0%,#ffcd69 10%,#fa9137 28%,#eb4141 42%,transparent 82%) , linear-gradient(135deg,#234bd7 12%,#c33cbe 58%);
}
.snslist{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.snslist li{
    padding-right: 12px;
}
.snslist li:last-child{
    padding-right: 0;
}
@media all and (max-width:768px){
    .sns{
        padding: 15px;
    }
    .sns .snsTitle{
        height: auto;
    }
    .sns .snsTitle svg{
        width: 20px;
        height: 20px;
    }
    .sns .snsTitle .snsleft{
        font-size: 17px;
    }
    .snslist{
        flex-wrap: wrap;
        justify-content: center
    }
    .sns .snslist svg{
        width: 25px;
        height: 25px;
        
    }
}
/* operating */
.operating{
    width: calc(25%);
    height: 100%;
    background-color: #F6F6F6;
    padding: 30px 30px;
    position: relative;
}
.operating .operTitle{
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.operating .operTitle{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    gap: 20px;
    
}
.operatingleft svg{
    width: 40px;
    height: 40px;
}
.operatinglist{
    display: flex;
    position: absolute;
    top: 50%;
}
.operlist li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    font-size: 17px;
}
@media all and (max-width:768px){
    .operating{
        padding: 15px;
    }
    .operating .operTitle{
        height: auto;
    }
    .operating .operTitle svg{
        width: 20px;
        height: 20px;
    }
    .operating .operTitle {
        font-size: 17px;
    }
    .operlist li{
        font-size: 13px;
        height: auto;
        align-items: flex-start;
        line-height: normal;
    }
    .operleft{
        width: 40%;
    }
    .operrg{
        width: 60%;
        padding-left: 5px;
    }
}
/* class */
#class{
    width: 100%;
    height: 700px;
    background-color: #fff;
    position: relative;
    padding: 60px 0;
}
#class .classtitle{
    font-size: 30px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: 40px;
}
.classbtn{
    position: relative;
    display: flex;
    width: 660px;
    justify-content: space-around;
    left: 50%;
    transform: translateX(-50%);
}
.classbtn li{
    width: 200px;
    height: 40px;
    padding: 8px 49px;
    background-color: #D9EDFF;
    border-radius: 50px;
    text-align: center;
}
.classbtn li a{
    font-size: 17px;
}
.classbtn li:hover{
    background-color: #B3DBFF;
    transition: 0.3s;
    font-weight: bold;
}
.classbtn li.on{
    background-color: #B3DBFF;
    transition: 0.3s;
    font-weight: bold;
}
.classplus{
    margin-top: 20px;
    margin-bottom: 17px;
    /* float: right; */
    display: flex;
    font-size: 17px;
    height: 30px;
    align-items: center;
    justify-content: flex-end;
}
.classplus svg{
    margin-right: 15px;
}
.classplus p{
    display: inline;
    vertical-align: super;
}
.tab_content{
    display: none;
}
.tab_content.on{
    display: block;
}
.classlist {
    display: flex;
    justify-content: space-between;

}
.classlist > li{
    max-width: 280px;
    width: 100%;
    /* width: 280px; */
    /* height: 400px; */
    padding: 25px 20px;
    gap: 10px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
}
.classlist > li > a > ul{
    padding: 10px 0;
}
.classlist > li > a > h2{
    width: 100%;
    height: 20%;
    max-width: 240px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #004380;
    line-height: 100%;
}
.classlist > li > a > ul > li{
    width: 100%;
    display: flex;
    margin-bottom: 5px;
}
.classleft{
    width: 75px;
    height: 100%;
}
.classrg{
    width: calc(100% - 75px);
    height: 100%
    ;
}
.classlist span{
    width: 100%;
    /* height: 90px; */
    border-top: 1px solid #d9d9d9;
    padding: 10px 0;
    display: block;

}
@media all and (max-width:768px){
    #class{
        padding: 35px 0;
    }
    #class .inner{
        padding: 0;
    }
    #class .classtitle{
        margin-bottom: 15px;
        font-size: 20px;
    }
    .classbtn{
        width: 70%;
    }
    .classbtn li{
        width: 126px;
        height: 20px;
        padding: 3px 15px;
        line-height: 20px;
    }
    .classbtn li a{
        font-size: 15px;
    }
    .classplus{
        margin: 9px 0;
        font-size: 13px;
        height: auto;
    }
    .classplus svg{
        width: 20px;
        height: 20px;
    }
    .classlist{
        /* display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; */
    gap: 10px;
    }
    .classlist > li {
        padding: 15px 10px;
        justify-content: flex-start;
        height: auto;
    }
    .classlist > li > a > ul{
        padding: 5px 0;
    }
    .classlist > li > a > ul > li{
        margin: 0;
        justify-content: space-between
    }
    .classlist > li > a > h2{
        font-size: 17px;
        height: 40px;
    }
    .classleft{
        width: 30%;
    }
    .classrg{
        width: 70%;
    }
    .classlist span{
        padding: 5px 0;
    }
}
/* 갤러리 */
#gallery{
    width: 100%;
    height: 526px;
    padding: 60px 0;
}
.gallerytitle{
    font-size: 30px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: 40px;
}
.swiper{
    width: 100%;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide{
display: flex;
justify-content: center;
align-items: center;
}
.swiper-slide img{
    display: block;
    width: 280px;
    height: 280px;
    object-fit: cover;
}
.swiper-button-prev,
.swiper-button-next{
    top: var(--swiper-navigation-top-offset,45%)!important;
}
/* 청소년활동 영역 */
#active{
    width: 100%;
    height: 650px;
    background-color: #fff;
    padding: 60px 0;
}
.activetitle{
    font-size: 30px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: 40px;
}
.activewrap{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
.activelf{
    display: flex;
    gap: 50px;
}
.activerg{
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    margin-top: 40px;
}
.activelist{
    width: 200px;
    height: 200px;
}
/* 사이트 영역 */
#site{
    width: 100%;
    height: 150px;
    background-color: #fff;
}
.linkimgs{
    display: flex;
    gap: 35px;
    height: 100%;
    align-items: center;
}
.linkimg{
    width: 190px;
    height: 60px;
    background-color: #fff;
}
.linkimg img{
    object-fit:cover;
    width: 100%;
    height: 100%;
}
